# Data files

data/
datasets/
images/
*.csv
*.zip

# Jupyter

.ipynb_checkpoints/

# Python

**pycache**/
*.pyc

# Environment

.env
.venv/
venv/

# Reports and submissions

*.pdf
*.docx
*.pptx
*.html
*_Report*
s4108825*
